<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>工具出租</title>
		<script th:src="@{/js/jquery.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css/hui.css}" media="all">
		<link rel="stylesheet" th:href="@{/tubiao/iconfont.css}" media="all">
		<style type="text/css">
			/* 自定义样式  */
			
			.hui-hot-sreach {
				background: #FFFFFF;
				padding: 12px;
			}
			
			.hui-hot-sreach-title {
				line-height: 38px;
				font-size: 15px;
				font-weight: 700;
			}
			
			.hui-hot-sreach-keys {
				margin-top: 8px;
			}
			
			.hui-hot-sreach-keys a {
				display: block;
				border-radius: 5px;
				float: left;
				margin: 0 8px 10px 0px;
				padding: 6px 10px;
				line-height: 20px;
				font-size: 13px;
				background: #EFF3F6;
			}
		</style>
	</head>

	<body>
		<header class="hui-header" style="background-color: #2A2E36">
			<div id="hui-header-sreach">
				<div id="hui-header-sreach-icon"></div>
				<form action=""><input type="search" id="searchKey" onkeydown="if(event.keyCode==13)return false;" placeholder="请输入商品关键字" /></form>
			</div>
			<div class="hui-header-sreach-txt" onclick="clearSearch();" style="font-size: 13px ;">清空</div>
		</header>
		<div class="hui-wrap" id="toolsId">
			<div class="hui-img-list duiqi" id="hui-img-list">
				<div class="hui-refresh-icon"></div>
				<ul id="list">

				</ul>
			</div>
		</div>
		<div class="hui-fooer-line"></div>
		<div id="hui-footer">
			<!--<a href="untilfabu.html" id="nav-new">
				<div class="hui-footer-icons"> <i class="icon Hui-iconfont" style="font-size: 20px;">&#xe63c;</i></div>
				<div class="hui-footer-text">我要出租</div>
			</a>-->
			<a href="#" id="nav-home">
				<div class="hui-footer-icons hui-icons-home"></div>
				<div class="hui-footer-text">首页</div>
			</a>
			<a href="javascript:hui.toast('工享工具暂时只对部分客户开放');" id="nav-my">
				<div class="hui-footer-icons hui-icons-my"></div>
				<div class="hui-footer-text">我的</div>
			</a>
		</div>

	</body>

	<script th:src="@{/js/hui.js}"></script>
	<script type="text/javascript">
		var token ='[[${tokenId}]]';
		//监听搜索事件
		document.getElementById('searchKey').addEventListener('keyup', function(e) {
			//键盘按键搜索才会进入
			if(e.keyCode == 13) {
				searchNow();
			}
		});
		/*function hotSearch(k) {
			hui('#searchKey').val(k);
			searchNow();
		}*/
		//核心搜索函数
		function searchNow() {
			document.activeElement.blur();
			var kwd = hui('#searchKey').val();
			kwd = kwd.trim();
			if(kwd.length < 1) {
				hui.toast('关键字至少1个字符');
				hui('.hui-hot-sreach').show();
				return;
			}
			getMore(kwd,true);
			//关闭热搜
			/*hui('.hui-hot-sreach').hide();
			;*/
		}
		//清空
		function clearSearch() {
			hui('#searchKey').val('');
			hui('.hui-hot-sreach').show();
		}
	</script>
	<script th:src="@{/js/hui-refresh-load-more.js}"></script>
	<script type="text/javascript">
		var  time = '';
		var page = 1;
		var pageSize = 10;
		hui.refresh('#hui-img-list', refresh);
		hui.loadMore(getMore);
		var  jdom =document.getElementById('hui-load-more');
		document.getElementById('toolsId').appendChild(jdom);
		//加载更多
		function getMore(toolName,searchflag){
			var toolName = hui('#searchKey').val();
			if (toolName!=null&&toolName!=''&&searchflag){
				page=1;
				var dom = hui('#hui-load-more');
				dom.html("加载中");
				hui.loadMoreEnd = false;
			}
			hui.getJSON(
					'/wx/toolList?pageNum='+page+'&pageSize='+pageSize+'&toolName='+toolName,
					function(res){
						//判断加载完毕
						if((res == 'null'||res=='')&&searchflag){
							hui.toast('搜素不到该商品');
							var dom = hui('#hui-load-more');
							dom.html("上拉加载更多");
							return false;
						}
						if(res == 'null'||res==''){
							hui.endLoadMore(true, '已经到头了...');
							return false;
						}
						if (res.length<10){
							var dom = hui('#hui-load-more');
							dom.html("上拉加载更多");
						}
						if (searchflag) {
							$("#list").empty();
						}
						var data = res;
						for(var i = 0; i < data.length; i++){
							if (data[i].periodUnit==0){
								time = '小时';
							}
							else{
								time='天';
							}
							var li = document.createElement('li');

							li.innerHTML = '<a href="/wx/detailsTools/'+data[i].id+'?tokend='+token+'"><img src="'+data[i].toolPicture+'?imageView2/1/w/500/h/400'+
									'" /><div class="hui-img-list-content"><h1 style="padding-left: 15px;">'+data[i].toolName+
									'</h1><p style="padding-left: 15px;">'+data[i].deposit+
									'</p><p style="padding-left: 10px;"><span class="hui-badge hui-danger">'+data[i].rentalPrice+
									'</span>元/'+time+'</p></div></a>';



							hui(li).appendTo('#list');
						}
						page++;
						hui.endLoadMore();
					}
			);
		}
		//下拉刷新
		function refresh(){
			var toolName = hui('#searchKey').val();
			hui.loading('加载中...');
			hui.getJSON(
					'/wx/toolList?pageNum='+1+'&pageSize='+pageSize+'&toolName='+toolName,
					function(res){
						hui.closeLoading();
						if(res == 'null'||res==''){
							hui.toast('搜素不到该商品');
							return false;
						}
						var data = res;
						var html = '';
						for(var i = 0; i < data.length; i++){
							if (data[i].periodUnit==0){
								time = '小时';
							}
							else{
								time='天';
							}
							html += '<li> <a href="/wx/detailsTools/'+data[i].id+'?tokend='+token+'"><img src="'+data[i].toolPicture+'?imageView2/1/w/500/h/400'+
									'" /><div class="hui-img-list-content"><h1 style="padding-left: 15px;">'+data[i].toolName+
									'</h1><p style="padding-left: 15px;">押金:'+data[i].deposit+
									'元</p><p style="padding-left: 15px;">租金:<span class="hui-badge hui-danger">'+data[i].rentalPrice+
									'</span>元/'+time+'</p></div></a></li>'
							;
						}
						page = 2;
						hui('#list').html(html);
						//结束刷新
						hui.endRefresh();
						//重置加载更多状态
						hui.resetLoadMore();
					},
					function(){
						hui.closeLoading();
						hui.upToast('连接服务器失败！');
						hui.endRefresh();
					}
			);
		}
	</script>

</html>