<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>淘宝优惠劵</title>
		<link rel="stylesheet" th:href="@{/css/hui.css}" media="all">
	</head>


	<body>
		<style>
			.aoqp aside{
    			color: #E32014;
				 }
			.quancolor {
    			background-color: #F12F4F;
    			border-radius: 3px;
    			height: 20px;
    			color: #FFF;
				margin-left: 10px;
   }
		</style>
		<div class="hui-wrap" style="background-color: white;">
			<div class="hui-media-listr" id="hui-media-listr">
				<div class="hui-refresh-icon"></div>
				<ul id="list">

				</ul>
			</div>
		</div>
		<script th:src="@{/js/hui.js}"></script>
		<script th:src="@{/js/hui-refresh-load-more.js}"></script>
		<script type="text/javascript">
			var page = 1;
			var pageSize = 10;
			hui.refresh('#hui-media-listr', refresh);
			hui.loadMore(getMore);
			//加载更多
			function getMore(){
				hui.getJSON(
						'/wx/list?pageNum='+page+'&pageSize='+pageSize,
						function(res){
							//判断加载完毕
							if(res == 'null'||res==''){
								hui.endLoadMore(true, '已经到头了...');
								return false;
							}
							var data = res;
							for(var i = 0; i < data.length; i++){
								var li = document.createElement('li');

								li.innerHTML = '<a href="/wx/detailsCoupon/'+data[i].id+'">'+
										'<div class="hui-media-list-img"><img  src="'+data[i].tradePicture+'"/></div><div class="hui-media-contents"><h1>'+data[i].abbreviationName+'</h1><p>'
										+'<div class="aoqp"><aside>'
										+'￥<span style="color: red;">'+data[i].discountPrice+'</span><span class="quancolor">券后价</span></aside></div></p>'
										+'<p><del style="color: #999999;font-size: 10px;">￥'+ data[i].originalPrice+'</del> </p></div>'
										+'</a></li>';


								hui(li).appendTo('#list');
							}
							page++;
							hui.endLoadMore();
						}
				);
			}

			//下拉刷新
			function refresh(){
				hui.loading('加载中...');
				hui.getJSON(
						'/wx/list?pageNum=1&pageSize='+pageSize,
						function(res){
							hui.closeLoading();
							var data = res;
							var html = '';
							for(var i = 0; i < data.length; i++){
								html += '<li><a href="/wx/detailsCoupon/'+data[i].id+'">'+
										'<div class="hui-media-list-img"><img  src="'+data[i].tradePicture+'"/></div><div class="hui-media-contents"><h1>'+data[i].abbreviationName+'</h1><p>'
										+'<div class="aoqp"><aside>'
										+'￥<span style="color: red;">'+data[i].discountPrice+'</span><span class="quancolor">券后价</span></aside></div></p>'
										+'<p><del style="color: #999999;font-size: 10px;">￥'+ data[i].originalPrice+'</del> </p></div>'
										+'</a></li>';
							}
							page = 2;
							hui('#list').html(html);
							//结束刷新
							hui.endRefresh();
							//重置加载更多状态
							hui.resetLoadMore();
						},
						function(){
							hui.closeLoading();
							hui.upToast('连接服务器失败！');
							hui.endRefresh();
						}
				);
			}
		</script>
	</body>

</html>