<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>青平鹏飞淘宝优惠劵</title>
    <link rel="stylesheet" th:href="@{/css/hui.css}" media="all">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="hui-wrap" style="background-color: #FFFFFF;">
    <div class="hui-img-list">
        <ul>
            <li>
                <img th:src="${couponInfo.tradePicture}" style="height: 275px"/>
                <div class="hui-img-list-content">
							<span class="popo">
                       <h1 th:text="${couponInfo.abbreviationName}"></h1>
                       <p style="font-size: 15px;color: red;" th:text="'劵后价格￥'+${couponInfo.discountPrice}"> </p>
                                <del style="color: #999999; font-size: 13px; background-color: #ffffff">123</del>
                      <p th:text="'先领劵再下单，此商品可省'+${couponInfo.couponPrice}+'元'"></p>
                      </span>
                </div>
            </li>
        </ul>
    </div>
    </button>
    <div class="goods_quan row-s">
        <a class="row getGoodsLink" href="javascript:void(0);" onclick="queryPass()">
            <div class="col-12-8 money" style="font-size: 14px;" >
                <p><span style="color: white;"th:text="${couponInfo.couponPrice}"></span> 元优惠券</p>
                <h style="font-size: 14px;color: #ffffff">使用期限:2018.12.25-2018.12.31</h>
            </div>
            <div class="col-12-4 name">
                <span style="color: #FFFFFF;">立即领券</span>
            </div>
        </a>
        <img style="background-color: #FFFFFF;" th:src="@{/img/coupon/goods_quan.png}">
    </div>
    <div class="better_change" style="background-color: #FFFFFF;">
        <h3>卖点推荐</h3>
        <ul class="better_show clear" style="font-size: 14px;color: #999999;">
            尚培轩加深披萨盘，可微波炉加热，多码任选，受热面积大，加热快，清洗简单，居家必备！享你所想，尽享美味时刻。
        </ul>
    </div>
    <div class="better_change" style="background-color: #FFFFFF;">
        <h3>精挑细选</h3>
        <ul class="better_show clear">
            <li>
                <div class="better_info"><i class="xp"></i><span>新品特价</span></div>
            </li>
            <li>
                <div class="better_info"><i class="xs"></i><span>限时特卖</span></div>
            </li>
            <li>
                <div class="better_info"><i class="cx"></i><span>诚信品牌</span></div>
            </li>
            <li>
                <div class="better_info"><i class="tj"></i><span>人气推荐</span></div>
            </li>
            <li class="last">
                <div class="better_info"><i class="by"></i><span>全国包邮</span></div>
            </li>
        </ul>
    </div>
</div>
<div id="hui-footer">
    <a href="javascript:hui.toast('首页');" id="nav-home">
        <div class="hui-footer-icons hui-icons-home"></div>
        <div class="hui-footer-text">首页</div>
    </a>
    <a href="javascript:void(0);" id="nav-my" style="background-color: #FD65EA; padding-top: 10px;"
       onclick="queryPass()">
        <div class="hui-footer-text" style="color: #FFFFFF; font-size: 16px;">淘口令生成</div>
    </a>
</div>
<div id="xywxobg"></div>
<div id="weixin-tt" class="quanpost">
    <div class="yhq_fc_title">复制淘口令购买
        <a href="javascript:;" id="closed" class="am-close am-close-spin">×</a>
    </div>
    <div class="am-text-left">
        <div class="fq-goods am-text-center">
					<span id="copy_key_ios" style="height:60px;overflow: hidden; font-size: 10px;">
						复制框内整段文字，打开「手机淘宝」即可「领取优惠券」并购买￥FYsVboBxdUZ￥
					</span>
            <textarea id="copy_key_pc" style="opacity: 0; height: 0px; width: 0px">
                        </textarea>
        </div>
    </div>
    <div class="xywxti"><img th:src="@{/img/ioscopy.png}" style="width:100%;max-width:650px"></div>
    <div class="goodsprice"><span class="trueprice">可领￥10券</span></div>
    <div class="wxts2">温馨提示:请尽快领券并下单，避免优惠券抢完、失效或涨价！</div>
    <center>
        <button type="button" id="copyios" class="copybtn"
                 style="background-color: rgb(255, 51, 0);">一键复制
        </button>
    </center>
</div>
<script th:src="@{/js/hui.js}"></script>
<script type="text/javascript">
    function queryPass() {
        hui('#xywxobg').show();
        hui('#weixin-tt').show();
    }

    hui('#closed').click(function () {
        hui('#xywxobg').hide();
        hui('#weixin-tt').hide();
    });
</script>
<script th:src="@{/js/clipboard.min.js}"></script>
<script>
    var copyText = document.getElementById("copy_key_ios").innerText;
    var clipboard = new ClipboardJS('.copybtn', {
        text: function() {
            return copyText;
        }
    });

    clipboard.on('success', function(e) {
        hui.iconToast('复制成功,请打开手机淘宝', 'success');
        hui('#copyios').html('复制成功');
        hui('#copyios').css({
            background: '#4CD964'
        });
    });

    clipboard.on('error', function(e) {
        hui.iconToast('复制失败', 'false');
        alert("复制失败")
        console.log(e);
    });
</script>
</body>

</html>