<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								工具来源:
								<select name="toolSource" >
									<option value="">所有</option>
									<option value="0" >鹏飞</option>
									<option value="1" >其他</option>
								</select>
							</li>

							<li>
								工具名称：<input type="text" name="toolName"/>
							</li>

							<li>
								工具简称：<input type="text" name="toolAbbreviation"/>
							</li>

							<li>
								工具种类:
								<select name="toolsType" >
									<option value="">所有</option>
								</select>
							</li>





							<li>
								出租状态：
								<select name="rentalState" >
									<option value="">所有</option>
									<option value="0">待出租</option>
									<option value="1">出租中</option>
								</select>
							</li>

							<li>
								出借期限:
								<select name="periodUnit" >
									<option value="">所有</option>
									<option value="0">小时</option>
									<option value="1">天</option>
								</select>
							</li>

							<li>
								工具状态:
								<select name="tradeState" >
									<option value="">所有</option>
									<option value="0">正常状态</option>
									<option value="1">下架状态</option>
								</select>
							</li>

							<li>
								保险费用单位元：<input type="text" name="insurancePremium"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:toolsInfo:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:toolsInfo:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:toolsInfo:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:toolsInfo:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:toolsInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:toolsInfo:remove')}]];
        var prefix = ctx + "system/toolsInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "工具",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键id',
					visible: false
				},
				{
					field : 'toolSource', 
					title : '工具来源',
					sortable: true,
					formatter: function(value, row, index) {
						var va = [];
						if (0==value) {
						va.push("<span> 鹏飞</span>");
						}
						else {
							va.push("<span> 其他</span>");
						}
						return va.join('');
					}
				},
				{
					field : 'toolName', 
					title : '工具名称',
					sortable: true
				},
				{
					field : 'toolAbbreviation', 
					title : '工具简称',
					sortable: true
				},
				{
					field : 'toolsType', 
					title : '工具种类',
					sortable: true,
			formatter: function(value, row, index) {
				var va = [];
				if (0==value) {
					va.push("<span> 电器类</span>");
				}
				else  if (1==value) {
					va.push("<span> 珠宝类</span>");
				}else{
					va.push("<span> 服饰类</span>");
				}
				return va.join('');
			}
				},
				{
					field : 'deposit', 
					title : '押金元',
					sortable: true
				},
				{
					field : 'rentalPrice', 
					title : '租出单价元',
					sortable: true
				},
				{
					field : 'rentalState', 
					title : '出租状态',
					sortable: true,
					formatter: function(value, row, index) {
						var va = [];
						if (0==value) {
							va.push("<span> 待出租</span>");
						}
						else{
							va.push("<span> 出租中</span>");
						}
						return va.join('');
					}
				},
				{
					field : 'periodUnit', 
					title : '出借期限',
					sortable: true,
					formatter: function(value, row, index) {
						var va = [];
						if (0==value) {
							va.push("<span> 小时</span>");
						}
						else{
							va.push("<span> 天</span>");
						}
						return va.join('');
					}
				},
				{
					field : 'tradeState', 
					title : '工具状态',
					sortable: true,
					formatter: function(value, row, index) {
						var va = [];
						if (0==value) {
							va.push("<span> 正常状态</span>");
						}
						else{
							va.push("<span> 下架状态</span>");
						}
						return va.join('');
					}
				},
				{
					field : 'toolPicture', 
					title : '工具图片',
					sortable: true
				},
				{
					field : 'toolText', 
					title : '工具简介',
					sortable: true
				},
				{
					field : 'insurancePremium', 
					title : '保险费用单位元',
					sortable: true
				},
				{
					field : 'insuranceBrief', 
					title : '保险描述',
					sortable: true
				},
				{
					field : 'createDate', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateDate', 
					title : '更新时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>